body{
	height:100%;
	margin: 0;
    background-color: #BAD1E5;
	position: relative;
}

.online-users{
	position: absolute;
	left: 12.39%;
	right: 55.73%;
	top: 15.46%;
	bottom: 24.35%;

	background: #99B3C6;
}

.total-users{
	position: absolute;
	left: 55.73%;
	right: 12.39%;
	top: 15.46%;
	bottom: 24.35%;

	background: #99B3C6;
}

.footer{
	height:17%;
 	position: fixed;
  	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-family: "tt_normsbold", TT Norms, sans-serif;
}

.footerIMG {
	float:left;
	height: 50%;
	padding: 40px;
}

.footerText {
	float:left;
	padding-top:15px;
	padding-left:100px;
	font-size: 40px;
}

/*font info*/

@font-face {
    font-family: 'tt_normsbold';
    src: url('ttnorms-bold-webfont.woff2') format('woff2'),
         url('ttnorms-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a:link {color: #D5EDFF; text-decoration: none; font-family: "Roboto-Regular", fantasy;
} 
a:visited {color: #D5EDFF; 
} 
a:focus {color: #B6CCDD; 
} 
a:hover {color: #B6CCDD; 
} 
a:active {color: #B6CCDD; 
} 

/*

#nav a{
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    color: white;
    text-decoration:none;
}

#nav a:hover {
    color: blue;
    text-decoration: underline;
}

/*end nav info, start footer*/

/*
footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/