:root {
    --dark: #000000; 
	--light: #FFFFFF; 
	--blocks: #99B3C6;
    --transition: all 0.3s ease 0s; 
    /* all variables above */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
	height:100%;
	overflow: auto;
	font-family: "tt_normsbold", TT Norms, sans-serif;
}

body{
	background-color: #BAD1E5;
}

p, h3 {
	font-family: "tt_normsbold", TT Norms, sans-serif;
	color: var(--light);
	text-decoration: none;
}

main {
	height: 100%;
	display: grid;
	grid-template-columns: minmax(60px, 1fr) repeat(3, minmax(50px, 380px)) minmax(60px, 1fr); 
}

.counters{ 
	grid-column: 2 / span 3; /* middle three columns of grid */ 
	display: flex; /* blocks next to each other */
	justify-content: center;
	align-items: center; /* blocks center of screen */
	flex-wrap: wrap; /* wrap to next line on smaller screen */
	margin-top: 80px;
}

.counter-block {
	display: inline-block;
	align-items: center;
	background-color: var(--blocks);
	text-align: center; 
	height: 450px;
	width: 400px;

	padding: 50px 50px 30px 50px;
	margin: 30px 40px 30px 40px;
}

.counter-block p {
	font-size: 32px;
	margin: 30px 0 30px 0;
}

.counter-block h3{	
	font-size:100px;
}

.space-bar{
	grid-column: 1 / span 5;
	height: 50px;
	margin-top: 40px;
	color: var(--light);
}

.space-bar p{
	text-align: center;

	font-family: 'tt_normsthin_italic', TT Norms, sans-serif;
	font-size: 30px;
}

.footer{
	grid-column: 1 / span 5;
	align-self: end;
	height: 100px;
	background-color: var(--dark);
	color: var(--light);
	text-align: center;
	font-family: "tt_normsbold", TT Norms, sans-serif;
}

.footer img {
	float: left;
	height: 60px;;
	margin: 20px;
}

.footer h2 {
	text-align: center;
	padding-top:20px;
	font-size: 40px;
}

/*font info*/

@font-face {
    font-family: 'TT Norms';
    src: url('fonts/ttnorms-bold-webfont.woff2') format('woff2'),
         url('fonts/ttnorms-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tt_normsthin_italic';
    src: url('fonts/ttnorms-thinitalic-webfont.woff2') format('woff2'),
         url('fonts/ttnorms-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a:link {color: #D5EDFF; text-decoration: none; font-family: "Roboto-Regular", fantasy;
} 
a:visited {color: #D5EDFF; 
} 
a:focus {color: #B6CCDD; 
} 
a:hover {color: #B6CCDD; 
} 
a:active {color: #B6CCDD; 
} 

/*

#nav a{
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    color: white;
    text-decoration:none;
}

#nav a:hover {
    color: blue;
    text-decoration: underline;
}

/*end nav info, start footer*/

/*
footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/