html, body{
	height:100%;
	margin: 0;
}

.wrapper {
	min-height:100%;

	/* equal to height of footer, but also account for potential margin-bottom of last child*/
	margin-bottom:-50px;
}

.footer, .push{
	height:50px;
}

body {
    background-color: #BAD1E5;;
    height: 800px; /* it'd be best to use percents, that way it's more accessible to different screen sizes. Should come back and fix it later. */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	position: relative;
	width: 1920px;
	height: 1080px;
}

/*font info*/

@font-face {
    font-family: "TT Norms";
    src: url("fonts/TTNorms.otf")
}

a:link {color: #ffffff; text-decoration: none; font-family: "Roboto-Regular", fantasy;
} 
a:visited {color: mediumaquamarine; 
} 
a:focus {color: #FFFFFF; 
} 
a:hover {color: aquamarine; 
} 
a:active {color: blue; 
} 

/*

#nav a{
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    color: white;
    text-decoration:none;
}

#nav a:hover {
    color: blue;
    text-decoration: underline;
}

/*end nav info, start footer*/

/*
footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/