/*font info, still need to fix...
but look popups work!
*/
@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf")
}

body {
    background-image: url(images/Group.svg);
    background-color: #2B2D35;
    height: 800px; /*it'd be best to use percents, that way it's more accessible to different screen sizes. Should come back and fix it later. */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
/* can't figure out the figma dimensions, but here they are whenever I figure it out
    position: absolute;
    width: 1920px;
    height: 1323.64px;
    left: -6px;
    top: 1px;
*/
}

/*nav info, including link specs
ISSUES: come back to fix font, Roboto-Regular won't work, despite download. Check with fresh eyes.
*/

.navigation {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Roboto-Regular", sans-serif; /*fix*/
    font-size: 15pt;
    background-color: #2B2D35;
    text-align-last: right;
    padding: 14px 16px; /*fix padding on right side*/
    display: inline-block;
}

/* general links appearance, should specifiy later that these are nav links*/

a:link {color: #000000; text-decoration: none; font-family: "Roboto-Regular", sans-serif;
} 
a:visited {color: mediumaquamarine; 
} 
a:focus {color: #000000; 
} 
a:hover {color: aquamarine; 
} 
a:active {color: blue; 
} 

/* Need to style nav links in white

#navigation a{
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    color: white;
    text-decoration:none;
}


#nav a:hover {
    color: blue;
    text-decoration: underline;
}
*/

/*end nav info, start footer*/

/*
footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/

/* CSS styling for splash screen */
.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(43,45,53,0.6);
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 30vh;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 30vh;
    transition: all 0.5s;
}

/* Splash screen text fade in keyframe function */
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

/* Splash screen image and text fade in */
.splash-logo {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    display: block;
    margin: 0 auto;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
    padding-top: 70px;
    top: 0;
    left: 0;
    z-index: 200;
    line-height: 90vh;
    
}

.splash-txt-1 {
    font-size: 500%;
    font-family: 'Catamaran', sans-serif;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 1s;
}

.splash-txt-2 {
    font-family: 'Catamaran', sans-serif;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 2s;
}

/*Button
    For this to work with more than one button, I think each button will need its own id. Will come back later to edit.
*/

.Button {
	background-color:#000000;
	border-radius:42px;
	border:8px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:14px 14px;
	text-decoration:none;
    margin-left: 1700%;
    margin-bottom: -750%;
}
.Button:hover {
	background-color:#ffffff;
}
.Button:active {
	position:relative;
	top:1px;
}

/*javascript pop-up*/
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}
/* The popup from my last project, which needs to be changed to match our site's style. Trying to figure out how black border could be coded in css rather than using a picture.

*/
.popup .popuptext {
    visibility: hidden;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 0%;
    padding: 3%; 
    height: 50%;
    width: 50%;
    position: fixed;
    top: auto;
    bottom: auto;
    left: 20%;
    right: 20%;
    z-index: 10000;
    font-family: Verdana, Geneva, sans-serif;
}


.popup .show {
    visibility: visible;
}

