body {
    background-image: url(images/Group.svg);
    background-color: #2B2D35;
    height: 800px; /* it'd be best to use percents, that way it's more accessible to different screen sizes. Should come back and fix it later. */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
/* can't figure out the figma dimensions, but here they are whenever I figure it out
    position: absolute;
    width: 1920px;
    height: 1323.64px;
    left: -6px;
    top: 1px;
*/
}

/*font info*/

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf")
}

/*nav info, including link specs
ISSUES: come back to fix font, Roboto-Regular won'r work, despite download. Check with fresh eyes.
*/

.navigation {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Roboto-Regular", sans-serif; /*fix*/
    font-size: 15pt;
    background-color: #2B2D35;
    text-align-last: right;
    padding: 14px 16px; /*fix padding on right side*/
    display: inline-block;
}

/* general links appearance, should specifiy later that these are nav links*/

a:link {color: #ffffff; text-decoration: none; font-family: "Roboto-Regular", fantasy;
} 
a:visited {color: mediumaquamarine; 
} 
a:focus {color: #FFFFFF; 
} 
a:hover {color: aquamarine; 
} 
a:active {color: blue; 
} 

/*

#nav a{
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    color: white;
    text-decoration:none;
}

#nav a:hover {
    color: blue;
    text-decoration: underline;
}

/*end nav info, start footer*/

/*
footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/