/*broken fonts yay
@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf")
}
*/

body {
        font-family: 'Roboto', serif;
      }

#home-body {
    background-image: url(images/Group.svg);
    background-color: #2B2D35;
    height: 800px; /*it'd be best to use percents, that way it's more accessible to different screen sizes. Should come back and fix it later. */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
/* can't figure out the figma dimensions, but here they are whenever I figure it out
    position: absolute;
    width: 1920px;
    height: 1323.64px;
    left: -6px;
    top: 1px;
*/
}

/*nav info, including link specs
ISSUES: should we add mini-logo?
*/

.navigation {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Roboto-Regular", sans-serif; 
    font-size: 20pt;
    color: white;
    background-color: #2B2D35;
    text-align-last: right;
    padding: 30% -40%; /*fix padding on right side, why won't it workkkk*/
    display: inline-block;
}

/* Need to style nav links in white */

nav a:link{
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    color: white;
    text-decoration:none;
}

nav a:hover {
    color: aquamarine;
    text-decoration: underline;
}


/* general links appearance*/

a:link {color: #000000; text-decoration: none; font-family: "Roboto-Regular", sans-serif;
} 
a:visited {color: mediumaquamarine; 
} 
a:focus {color: #000000; 
} 
a:hover {color: aquamarine; 
} 
a:active {color: blue; 
} 

/*start footer*/

/*
footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/

/* Styling for Sinead-Louisa story body */
#story-body {
    background-image:url("images/sinead/desktop.png");
    background-position: 0vh 0vh;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Catamaran', sans-serif;
}

#template-body {
    background-color: #5D926E;
    font-family: 'Catamaran', sans-serif;
}

.story-head {
    display: flex;
    background-color: lightblue;
    margin-top: -1.4vh;
    margin-right: -1vh;
    margin-left: -1vh;
    
}

.template-head {
    display: flex;
    margin-top: -1.4vh;
    margin-right: -1vh;
    margin-left: -1vh;
    
}

.story-pg-whatif {
    padding-left: 8vh;
    margin-top: 3vh;
}

.story-pg-title {
    text-align: center;
    font-size: 300%;
    padding-left: 22%; /* try and put all padding in vh rather than px, for cross screen compatibility*/
    margin-top: 2vh;
    position: static;
}

.footer {
    left: 0; 
    bottom: 0; 
    width: 100%;
    text-align: center;
}

.story-txt {
    width: 65%;
    height: 65%;
    position: fixed;
    top: 20%;
    left: 25%;
    border: solid #000;
    border-width: 3px;
    margin: auto;
}

/*CSS styling for Sinead and Louisa iframe */

#bg-modal {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#modal-pic {
    text-align: center;
    padding-top: 25vh;
    cursor: pointer;
}

#open-btn {
    background-color: lightblue;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.modal-email {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 4px;
    display: none;
    margin: auto;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 6.5vh;
    text-align: center;
}

.modal-email-text {
    margin-top: 0vh;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}



/* CSS styling for splash screen */
.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(43,45,53,0.6);
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 30vh;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 30vh;
    transition: all 0.5s;
}

/* Splash screen text fade in keyframe function */
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

/* Splash screen image and text fade in */
.splash-logo {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    display: block;
    margin: 0 auto;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
    padding-top: 70px;
    top: 0;
    left: 0;
    z-index: 200;
    line-height: 90vh;
    
}

.splash-txt-1 {
    font-size: 500%;
    font-family: 'Catamaran', sans-serif;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 1s;
}

.splash-txt-2 {
    font-family: 'Catamaran', sans-serif;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 2s;
}

  
/*Button
    There's the general button code and then each button also gets its own code for placement purposes.
*/

.Button {
	background-color:#000000;
	border-radius:42px;
	border:8px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:14px 14px;
	text-decoration:none;

}
.Button:hover {
	background-color:#ffffff;
}
.Button:active {
	position:relative;
	top:1px;
}

/* story 1 (New York) */
.story1 {
    margin-left: 850%;
    margin-bottom: -625%;
}


/* story 2 (South Korea) */
.story2 {
    margin-left: 2500%;
    margin-bottom: -750%;
}

/* story 3 (Philadelphia) */
.story3 {
    margin-left: 600%;
    margin-bottom: -725%;
}

/* story 4 (Ireland/New Orleans) */
.story4 {
    margin-left: 1050%;
    margin-bottom: -580%;
}

/*javascript pop-up*/
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}
/* The popup matches our style for the most part.*/
.popup .popuptext {
    visibility: hidden;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 0%;
    padding: 3%; 
    height: 50%;
    width: 50%;
    position: fixed;
    top: auto;
    bottom: auto;
    left: 20%;
    right: 20%;
    z-index: 10000;
    font-family: "Roboto-Regular", sans-serif; 
    border: 4px solid black;
}

.popup .show {
    visibility: visible;
}

.enterButton {
	background-color:#80c0ad;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family: "Roboto", sans-serif;
	font-size:28px;
	padding:13px 49px;
	text-decoration:none;
}
.enterButton:hover {
	background-color:#6abda4;
}
.enterButton:active {
	position:relative;
	top:1px;
}
