tw-story {
    font-family: "Maven Pro", sans-serif;
    font-size:100%;
    color: black;
    background-color: white;
}
  
body
{
    background-color: #F4F5EC;
}

tw-passage
{
    color: black;
    font-size: 20px;
    line-height: normal; 
}

tw-link
{
    color: black;
    font-weight: 700;
}

/* External Links */
a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

a:hover{
    color: #00bfff;
}

/* WeChat SVGs */
.wechat { /* WeChat DIV */
    position: relative;
}

.wechat-static, .wechat-static2 { /* WeChat background image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.wechat-button { /* Translate button */
    position: absolute;
    top: 75%;
    left: 27%;
}

.wechat-button2 { /* Translate button */
    position: absolute;
    top: 78%;
    left: 27%;
}

.wechat-button:hover {
    cursor: pointer;

}

