a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover{
    color: #00bfff;
}

.wechat-img {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#translate-button:hover {
    cursor: pointer;
}